/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #222;
    padding: 30px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    font-size: 1.3em;
    transition: color 0.3s;
}

header nav a:hover {
    text-decoration: underline;
    color: #ccc;
}

/* Estilo dos serviços */
#servicos {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servico {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px;
    width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.servico:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.servico h3 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.servico p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.servico .btn-agendar,
.servico .btn-cancelar {
    background-color: #333; /* Alterada a cor dos botões para cinza */
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: center;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.servico .btn-agendar:hover,
.servico .btn-cancelar:hover {
    background-color: #333; /* Alterada a cor de hover dos botões para um tom mais escuro de cinza */
}
